extends ../layout

block content
  .tab-bar
    ul.nav.nav-tabs
      li.active.offset3
        a(href='#') Send Messages


  .row.offset4
    #send-message.span6.offset2
      if message.length !== 0
        .row
          .alert.alert-error.span5.login-alert
            button.close(type='button', data-dismiss='alert') x
            =message

      form#send-message-form.form(action='/admin/send-message', method='post')
        div.control-group
          label.control-label(for='oldPassword') Message:
          div.controls
            textarea.span5#message(name='message', rows='4', placeholder='Message', required, data-validation-required-message='Message should not be empty')
        div.control-group
          label.control-label(for='receiver') Recipients:
          div.controls
            select(multiple='multiple', name='receiver')
              option(value='1') All
              option(value='2', selected='selected') Male User
              option(value='3') Female User
            
        div.contrl-group
          div.controls
            button.btn.btn-primary(type='submit') Send Message
            input(type='hidden', name='_csrf', value=token)
