div.navbar.navbar-static-top
  div.navbar-inner
    div.container
      a.brand(href='/') Ogorin Admin

      if currentUser
        ul.nav
          if slug === 'user'
            li.active: a(href='/user') ユーザー管理 
          else
            li: a(href='/user') ユーザー管理 
            
          if slug === 'parttimer'
            li.active: a(href='/parttimer') アルバイト管理 
          else
            li: a(href='/parttimer') アルバイト管理 

          if slug === 'gift'
            li.active: a(href='/gift') ギフト管理
          else
            li: a(href='/gift') ギフト管理

          if slug === 'operations'
            li.active: a(href='/operations') Operations
          else
            li: a(href='/operations') Operations

        ul.nav.pull-right
          li.divider-vertical
          li.dropdown
            div.btn-group
              button.btn
                i.icon-user
                &nbsp; 
                =currentUser.adminname
              button.btn.dropdown-toggle(href='#', data-toggle='dropdown')
                span.caret

              ul.dropdown-menu
                li
                  a(href='/admin/account')
                    i.icon-th-large
                    | &nbsp;ダッシュボード
                li 
                  a(href='/logout')
                    i.icon-eject
                    | &nbsp;ログアウト
