extends ../layout

block content
  .row
    .span7.offset6.register-block
      form.form(action='/test/create-user', method='post',
        enctype='multipart/form-data')
        legend.register-legend Create dummy user
        div.offset1.register-inputs
          div.control-group
            input(type='hidden', name='_csrf', value=token)
            label.control-label(for='username') Username:
            div.controls
              input#username.input-xlarge(type='text', name='username', placeholder='Username')

          div.control-group
            label.control-label(for='email') Email:
            div.controls
              input#email.input-xlarge(type='email', name='email', placeholder='Email')


          div.control-group
            label.control-label(for='password') Password:
            div.controls
              input#password(type='password', name='password', placeholder='Password')

          div.control-group
            label.control-label(for='passwordConfirm') Password Confirmation:
            div.controls
              input#password-confirm(type='password', name='passwordConfirm', placeholder='Password Confirmation')

          div.control-group
            label.control-label(for='profilePhoto') Profile Photo:
            div.controls
              input#profile-photo(type='file', name='profilePhoto')
          div.control-group
            label.control-label(for='lastLocation') Last Location:
            div.controls
              div.location-input.input-append
                input#latitude.input-small(type='text', name='latitude')
                span.add-on Lat
              div.location-input.input-append
                input#longitude.input-small(type='text', name='longitude')
                span.add-on Long

          div.control-group.register-submit
            div.controls
              button.btn.btn-large(type='submit') Register
  
